.game {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.restart_btn {
  width: 100px;
  height: 40px;
  font-size: 20px;
  border: 1px #444 solid;
  border-radius: 5px;
  color: dodgerblue;
  margin-bottom: 20px;
  cursor: pointer;
}

.restart_btn:hover {
  color: #fff;
  background-color: dodgerblue;
}

.timer {
  width: 120px;
  border: 4px solid rgb(250, 134, 57);
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 700;
}

.rankingImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking {
  position: absolute;
  right: -450px;
  width: 400px;
}

.ranking_tabel {
  width: 400px;
}

.ranking_icon {
  width: 60px;
}

.ranking_btn {
  cursor: pointer;
}

.thead {
  font-weight: 700;
  font-size: 18px;
}
