ul,
li {
  list-style: none;
}

.startBtn {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  border: none;
  color: dodgerblue;
  border-radius: 5px;
  border: 1px #444 solid;
  cursor: pointer;
}

.startBtn:hover {
  background-color: dodgerblue;
  color: #fff;
}

.rules {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kakao_btn {
  margin-top: 20px;
  cursor: pointer;
}

.logoutBtn {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  outline: none;
  box-shadow: none;
  border: none;
  color: tomato;
  border-radius: 5px;
  border: 1px #444 solid;
  cursor: pointer;
}

.logoutBtn:hover {
  background-color: tomato;
  color: #fff;
}

.btn_container {
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.bestScore {
  font-weight: 700;
}

.dev_info {
  margin-top: 25px;
  color: rgb(75, 75, 75);
}

.dev_info > a {
  color: rgb(75, 75, 75);
  font-weight: 700;
  text-decoration: none;
}

.dev_info > a:hover {
  color: blue;
}
